html, body {
	height: 100%;
	max-height:100vh;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: auto;
	/*padding: 0 0 60px;*/
}

.app-content {
	padding-top: 35px;
}

/* Section CSS */

.user-section {
	border-right: 1px solid black;
	min-height: 100%;
	height: 90vh;
}

.main-section {
	height: 85vh;
	border-right: 1px solid black;
}

.med-section {
	height: 85vh;
	padding: 0;
	margin: 0;
}

.doctor-info {
	padding-top: 10px;
	padding-left: 30px;
	height: 36px;
	background-color: #e5e5e5;
}

.col-md-9 {
	padding-left: 0;
}

ul.patient-nav {
	text-align: center;
	padding-left: 10vw;
}

.other-section {

}

/*
.col-md-3 {
	margin-right: 0;
}*/
